* {
  margin: 0;
  padding: 0;
}
html,
body,
#app,
.app-container {
  height: 100%;
}

@import "~@/components/style.scss";
@import "~handsontable/dist/handsontable.full.css";

.app-container {
  box-sizing: border-box;

  .handsontable-notes {
    border: 1px solid #f60;
    position: relative;
  }

  .is-extra {
    position: absolute;
    border: 2px dashed #00f;
    top: 69px;
    width: 100%;
    z-index: 1000;
  }
}
